doctype html
head
  meta(charset='UTF-8')
  title Web Server
   style
    include style.css
form(method='Post')
  input#studentNameInput.input(type='text' name='name' placeholder='Student Name')
  input#gradeInput.input(type='text' name='percentgrade' placeholder='Grade')
  button(type='submit') Submit
span.warning='Error with your submission submit again with correct inputs'
