doctype html
head
  meta(charset='UTF-8')
  title Web Server
  link(rel='stylesheet' type='text/css' href='style.css')
form(method='Post')
  input#studentNameInput.input(type='text' name='studentName' placeholder='Student Name')
  input#gradeInput.input(type='text' name='Grade' placeholder='Grade')
  button(type='submit') Submit
#gradeDisplay
  h1 Display

