@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
body{
    background-color: #363636;
    color:#E5E5E5;
    font-family: 'Rubik' ;
}
form{
    display: inline-block;
padding: 3rem;
background-color: #1B3B6F;
margin-left: 35%;
}
input{
    padding:.3rem;
margin: .2rem;
}
button{
    padding: .3rem;
}
ul{
    /* background-color: #1B3B6F; */
}
li{margin: 2rem;
background-color: #1B3B6F;
padding: .3rem;
}
span{
    padding: .5rem;
}
.button{
    padding:.5rem;
    display: inline-block;
background-color: #CCA43B;
}
a:visited,a{
    color: black;
}